<%= form_for(@squishee_cup) do |f| %>
  <% if @squishee_cup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@squishee_cup.errors.count, "error") %> prohibited this squishee_cup from being saved:</h2>

      <ul>
      <% @squishee_cup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
