<h1>Listing squishee_cups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @squishee_cups.each do |squishee_cup| %>
  <tr>
    <td><%= squishee_cup.name %></td>
    <td><%= squishee_cup.color %></td>
    <td><%= link_to 'Show', squishee_cup %></td>
    <td><%= link_to 'Edit', edit_squishee_cup_path(squishee_cup) %></td>
    <td><%= link_to 'Destroy', squishee_cup, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Squishee cup', new_squishee_cup_path %>
