<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @squishee_cup.name %>
</p>

<p>
  <b>Color:</b>
  <%= @squishee_cup.color %>
</p>


<%= link_to 'Edit', edit_squishee_cup_path(@squishee_cup) %> |
<%= link_to 'Back', squishee_cups_path %>
